# This is an **example** API to demontstrate features of OpenAPI specification.
# It doesn't cover all OpenAPI features. For more full example check out: https://github.com/APIs-guru/petstore_extended

swagger: '2.0'
# You should specify common part of your endpoints in the following format:
#   <schemes>://<host><basepath>
schemes:
  - http # Remove if your API doesn't support HTTP
host: api2.bm-data.com # Replace with your hostname. You can also specify port e.g. example.com:777
basePath: /services/bm400/CMDBAPI.asmx/ # Replace with your basePath. Note: SHOULD begin with '/'.
info:
  # Describe your API here, you can use GFM (https://guides.github.com/features/mastering-markdown) here
  description: |
    Returns a json-representation of the selected campaign
    # Introduction
    **TEST**
    The test form is only available for requests from the local machine

  version: '1.0.0' # Your API version
  # It can be any string but it is better to use semantic versioning: http://semver.org/
  # Warning: OpenAPI require version to be string, but without quotation YAML can recognize it as number.

  title: GetCampaignInfo 

  contact:
    email: kirsten.ostergaard@bmd.bonnier.dk # [Optional] Replace with your contact email
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://apis.guru/openapi-template/logo.png'
produces:
  # List of mime types your API endpoins can return.
  # This is a global default. You can OVERWRITE it in each specific operation.
  # Remove the ones not used in your API
  - application/json
  # you can add any mime type your API produces to the list
consumes:
  # List of mime types your API endpoins consumes.
  # This is a global default. You can OVERWRITE it in each specific operation.
  # Remove the ones not supported by your API
  - application/json
  - application/xml
  # you can add any mime type your API consumes to the list

# A list of tags used by the specification with additional metadata.
# The order of the tags can be used to reflect on their order by the parsing tools.
tags:
  - name: Campaign
    description: Operations about campaigns
# Security scheme definitions that can be used across the specification.

# Holds the relative paths to the individual endpoints. The path is appended to the
# basePath in order to construct the full URL. 
paths:
  '/GetCampaignInfo': # path parameter in curly braces
    # documentation for GET operation for this path
    
    # parameters list that are used with each operation for this path
    get:
      tags:
        - Campaign
      
      # summary is up to 120 symbold but we recommend to be shortest as possible
      summary: Search for Campaign details using CampaignId
      
      # you can use GFM in operation description too: https://guides.github.com/features/mastering-markdown
      description: | 
        Secutity - ip protection
      
      # operationId should be unique across the whole specification
      operationId: GetCampaignInfo
      
      # list of parameters for the operation
      parameters:
        - name: CampaignId
          in: query
          description: Id of the campaign that needs to be fetched
          required: true
          type: string
        - name: serviceID
          in: query
          description: Username / ruleset for the campaign
          required: true
          type: string
      
      produces:
        - application/json
      responses: # list of responses
        '200':
          description: Success
          schema: # response schema can be specified for each response
            $ref: '#/definitions/Campaign'
            
          examples:
          # repsonse samples for each type operation produces
            application/json:
              CampaignID: 324801
              Title: "3 el 6 nr + Craft Baselayer sæt  \n\n2017 koder"
              Currency: "SEK"
              ValidFrom: "2016-12-20T00:00:00"
              ValidTo: "2016-12-20T00:00:00"
              ActivityCode: 11
              ActivityName: "Internet Intern egne sites"
              Market: "Sweden"
              Language: "sv"
              Offers:
                Id: 3042943
                Name: "3 nr 99,90kr + 39,50kr"
                ProcuctCode: "ATR"
                Issues: 3
                IntroFee: 39.5000
                TotalPrice: 139.4000
                ResponseCode: 65234309
              Premiums: 
                ItemName: "Craft Baselayer Sort M"
                ItemNumber: "911442"
                ItemValue: 450.0000
              Media:
                Name: "AboHeader"
                PromotionTypeName: "Egne sites"
              PaymentTypes:
                Name: "Web"
        '500':
          description: Exception, internal error
   
# An object to hold data types that can be consumed and produced by operations.
# These data types can be primitives, arrays or models.
definitions:
  Offers:
    type: array
    items:
      properties:
        Id:
          description: OfferId. Key identifier for Offers
          type: integer
          example: 3042943
        Name:
          description: A brief description of the offer. For internal use.
          type: string
          example: "3 nr 99,90kr + 39,50kr"
        ProductCode:
          description: A 3 letter abreviation for the products (magazines)
          type: string
          example: ATR
        Issues:
          description: Number of issues in offer
          type: integer
          example: 3
        IntroFee:
          description: Administration fee / postage fee
          type: number
          format: float
          example: 39.5000
        TotalPrice:
          description: Total price to be payed
          type: number
          format: float
          example: 139.4000
        Responsecode:
          description: Identifier for this campaign offer
          type: integer
          example: 65234309
  Premiums:
    type: array
    items:
      properties:
        ItemName: 
          description: Name of premium
          type: string
          example: "Craft Baselayer Sort M"
        ItemNumber:
          description: Article number
          type: string
          example: "911442"
        ItemValue: 
          description: Value of this article
          type: number
          format: float
          example: 450.0000
  Medias:
    type: array
    items:
      properties:
        Name:
          description: Place of campaign occurrence in media
          type: string
          example: AboHeader
        PromotionTypeName:
          description: Name of media where the campaign occurs
          type: string
          example: Egne sites
  PaymentTypes:
    type: array
    items:
      properties:
        Name:
          description: Payment method
          type: string
          example: Web
  Campaign:
    type: object
    properties:
      CampaignID:
        description: Key value for campaign
        type: integer
        minLength: 6
        example: 324801
      Title:
        description: Campaign title
        type: string
        example: 3 el 6 nr + Craft Baselayer sæt  \n\n2017 koder
      Currency:
        description: Currency of campaign
        type: string
        example: SEK
      ValidFrom:
        description: Campaign valid from
        type: string
        format: date
        example: "2016-12-20T00:00:00"
      ValidTo:
        description: Campaign valid from
        type: string
        format: date
        example: "2016-12-20T00:00:00"
      ActivityCode:
        description: Channel code
        type: integer
        example: 11
      ActivityName:
        description: Channel name
        type: string
        example: Internet Intern egne sites
      Market:
        description: Customer market
        type: string
        example: Sweden
      Language:
        description: Campaign language
        type: string
        example: sv
      Offers:
        description: Campaign offers
        type: array
        items: 
          $ref: '#/definitions/Offers'
      Premiums:
        description: Premiums as part of the offer
        type: array
        items:
          $ref: '#/definitions/Premiums'
      Medias:
        description: Which media displays the campaign
        type: array
        items: 
          $ref: '#/definitions/Medias'
      PaymentTypes:
        description: Payment method
        type: array
        items: 
          $ref: '#/definitions/PaymentTypes'