
swagger: '2.0'
schemes:
  - https 
host: order.bm-data.com 
basePath: "/"
info:
  
  description: |
    # Introduction
    This document describes how to submit orders to Bonnier Magazine Data (BMD) from various campaign activities. Orders 3 validates parameters, queues the order in backend system, and replies in XML or JSON format. When a request is succesful, the response parameter "Result" will be 0, and the parameter "Reason" will be blank. If the request fails, the page will return -1+"ReasonCode" (e.g. -112)
    
    # Security
    ip protection
    
    # Test Data
    For testing parameter validation, connection, character sets and similar you can use postal code 0000 (in DK and NO) or 00000 (in SE and FI) when submitting data
    
    
    If you need to test a complete flow **including email confirmation and tracking callback** you must use postal code **8888** (DK and NO) or **88888** (SE and FI).
    
    This way the backend system can recognize the test orders and stop them from being processed.
    
    If using postal code 0000/00000 you will receive reasoncode = 100 in the xml-response.
    100 = order confirmed but ignored.
    
    **You can also use parameter TEST=1** In that case, the reject reason "100" will be returned

  version: '1.0.0' 

  title: Orders3 API 

  contact:
    email: kirsten.ostergaard@bmd.bonnier.dk 
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'http://www.bonnier.com/Global/Images/Bonnier_logotype.png'
produces:
  - application/json
consumes:
  - application/json
tags:
  - name: Order
    description: Submit order operations
  - name: Confirm
    description: Confirm order payment operations
  - name: Register Donor
    description: Submit giftcard order operations
  - name: Register Donor Payment
    description: Confirm giftcard order payment operations. 
  - name: Redeem Gift Code
    description: Submit information about receiver of gift card when this is redeemed.
  - name: Get Giftcode Status
    description: Returns status and value of giftcard


paths:
  '/?type=ORDER': # path parameter in curly braces
    # documentation for GET operation for this path
    post:
      tags:
        - Order
      
      summary: Send purchase order to the magazine shop
      
      description: | 
        
        Place purchase order 
        
      operationId: submitOrder
      
      parameters:
        - $ref: "#/parameters/sid"
        - $ref: "#/parameters/la"
        - name: type
          in: query
          description: RequestType to indicate that this is an ORDER request
          type: string
          enum:
            - 'ORDER'
            - ''
          default: ''
        - $ref: "#/parameters/pk"
        - $ref: "#/parameters/rc"
        - $ref: "#/parameters/pr"
        - $ref: "#/parameters/return"
        - $ref: "#/parameters/pix"
        - $ref: "#/parameters/sc"
        - $ref: "#/parameters/onlinepay"
        - $ref: "#/parameters/media"
        - $ref: "#/parameters/activity"
        - $ref: "#/parameters/device"
        - $ref: "#/parameters/cnr"
        - $ref: "#/parameters/fn"
        - $ref: "#/parameters/ln"
        - $ref: "#/parameters/en"
        - $ref: "#/parameters/ad"
        - $ref: "#/parameters/pc"
        - $ref: "#/parameters/email"
        - $ref: "#/parameters/phone"
        - $ref: "#/parameters/mobile"
        - $ref: "#/parameters/op"
        - $ref: "#/parameters/fn2"
        - $ref: "#/parameters/ln2"
        - $ref: "#/parameters/en2"
        - $ref: "#/parameters/ad2"
        - $ref: "#/parameters/pc2"
      
      produces:
        - application/json
      responses: # list of responses
        '200':
          description: OK
          schema: # response schema can be specified for each response
            $ref: '#/definitions/ReturnParameters'
          
        '500':
          description: Internal server error
  
  '/?type=CONFIRM':
    post:
      tags:
        - Confirm
      summary: Confirm order payment
      description: Confirms that payment have been received and states if the payment is recurring
      operationId: confirm
      parameters:
        - $ref: "#/parameters/sid"
        - $ref: "#/parameters/la"
        - name: type
          in: query
          description: RequestType to indicate that this is a CONFIRM request
          required: true
          type: string
          enum:
            - 'CONFIRM'
        - $ref: "#/parameters/ocr"
        - $ref: "#/parameters/refnr"
        - $ref: "#/parameters/ccpart"
        - $ref: "#/parameters/ccyy"
        - $ref: "#/parameters/ccmm"
        - $ref: "#/parameters/cctype"
        - $ref: "#/parameters/shopid"
        - $ref: "#/parameters/recurring"
      
      responses:
        '200':
          description: 'OK'
          schema: 
            $ref: '#/definitions/ReturnParametersCONFIRM'
          
        '500':
          description: Internal server error
          
  '/?type=ORDER&pk=GKW':
    post:
      tags:
        - Register Donor
      summary: Send order for a giftcard
      description: Place purchase order with `pk`(productCode) = GKW
      operationId: registerDonor
      parameters:
        - $ref: "#/parameters/sid"
        - $ref: "#/parameters/la"
        - name: type
          in: query
          description: RequestType to indicate that this is a CONFIRM request
          required: true
          type: string
          enum:
            - 'ORDER'
            - ''
          default: ''
        - name: pk
          in: query
          description: Productcode - must be 'GKW'
          required: true
          type: string
          enum:
            - 'GKW'
        - $ref: "#/parameters/rc"
        - $ref: "#/parameters/pr"
        - $ref: "#/parameters/return"
        - $ref: "#/parameters/pix"
        - $ref: "#/parameters/sc"
        - $ref: "#/parameters/onlinepay"
        - $ref: "#/parameters/media"
        - $ref: "#/parameters/activity"
        - $ref: "#/parameters/device"
        - $ref: "#/parameters/cnr"
        - $ref: "#/parameters/fn"
        - $ref: "#/parameters/ln"
        - $ref: "#/parameters/en"
        - $ref: "#/parameters/ad"
        - $ref: "#/parameters/pc"
        - $ref: "#/parameters/email"
        - $ref: "#/parameters/phone"
        - $ref: "#/parameters/mobile"
        - $ref: "#/parameters/gcval"
        - $ref: "#/parameters/gcpk"
      
      responses:
        '200':
          description: 'OK'
          schema: # response schema can be specified for each response
            $ref: '#/definitions/ReturnParametersGiftCode'
          
        '500':
          description: Internal server error

  '/?type=CONFIRM&gc=':
    post:
      tags:
        - Register Donor Payment
      summary: Register and confirm donor payment
      description: Confirms that payment have been received. This activates the giftcode, and should only be called after a succesful payment.
      operationId: confirm donor payment
      parameters:
        - $ref: "#/parameters/sid"
        - $ref: "#/parameters/la"
        - name: type
          in: query
          description: RequestType to indicate that this is a CONFIRM request
          required: true
          type: string
          enum:
            - 'CONFIRM'
        - $ref: "#/parameters/ocr"
        - $ref: "#/parameters/refnr"
        - $ref: "#/parameters/ccpart"
        - $ref: "#/parameters/ccyy"
        - $ref: "#/parameters/ccmm"
        - $ref: "#/parameters/cctype"
        - $ref: "#/parameters/shopid"
        - $ref: "#/parameters/gc"
        - $ref: "#/parameters/gclink"
      
      responses:
        '200':
          description: 'OK'
          schema: # response schema can be specified for each response
            $ref: '#/definitions/ReturnParametersCONFIRM'
          
        '500':
          description: Internal server error
          
  '/?TYPE=REDEEM':
    post:
      tags:
        - Redeem Gift Code
      summary: Post info about receiver of giftcard
      description: Register receiver parameters when giftcard is redeemed
      operationId: registerReceiver
      parameters:
        - $ref: "#/parameters/sid"
        - $ref: "#/parameters/la"
        - name: type
          in: query
          description: RequestType to indicate that this is a REDEEM request
          required: true
          type: string
          enum:
            - 'REDEEM'
        - name: pk
          in: query
          description: Productcode - must be 'GKW'
          required: true
          type: string
          enum:
            - 'GKW'
        - $ref: "#/parameters/rc"
        - $ref: "#/parameters/pr"
        - $ref: "#/parameters/return"
        - $ref: "#/parameters/pix"
        - $ref: "#/parameters/sc"
        - $ref: "#/parameters/media"
        - $ref: "#/parameters/activity"
        - $ref: "#/parameters/device"
        - $ref: "#/parameters/cnr"
        - $ref: "#/parameters/fn"
        - $ref: "#/parameters/ln"
        - $ref: "#/parameters/en"
        - $ref: "#/parameters/ad"
        - $ref: "#/parameters/pc"
        - $ref: "#/parameters/email"
        - $ref: "#/parameters/phone"
        - $ref: "#/parameters/mobile"
        - $ref: "#/parameters/gc"
        - $ref: "#/parameters/gcval"
      
      responses:
        '200':
          description: 'OK'
          schema: # response schema can be specified for each response
            $ref: '#/definitions/ReturnParameters'
          
        '500':
          description: Internal server error
  
  '/type=STATUS':
    post:
      tags:
        - Get Giftcode Status
      summary: Get status of giftcard
      description: Returns status and value of gift card when this is redeemed
      operationId: getGiftcard  Status
      parameters:
        - $ref: "#/parameters/sid"
        - $ref: "#/parameters/la"
        - name: type
          in: query
          description: RequestType to indicate that this is a REDEEM request
          required: true
          type: string
          enum:
            - 'REDEEM'
        - name: pk
          in: query
          description: Productcode - must be 'GKW'
          required: true
          type: string
          enum:
            - 'GKW'
        - $ref: "#/parameters/gc"
      
      responses:
        '200':
          description: 'OK'
          schema: # response schema can be specified for each response
            $ref: '#/definitions/ReturnGiftCodeStatusParameters'
          
        '500':
          description: Internal server error
          
# An object to hold data types that can be consumed and produced by operations.
# These data types can be primitives, arrays or models.
definitions:
  RejectReason1:
    description: 'order rejected due to Bonnier policy'
    type: string
    example: 1
  RejectReason2:
    description: 'order rejected because order is duplicate of existing order'
    type: string
    example: 2
  RejectReason3:
    description: 'order rejected because of parameter validation error'
    type: string
    example: 3
  RejectReason4:
    description: 'order rejected because of other error / exeption'
    type: string
    example: 4
  RejectReason5:
    description: 'order rejected because of invalid country'
    type: string
    example: 5
  RejectReason6:
    description: 'order rejected because of invalid postal number'
    type: string
    example: 6
  RejectReason7:
    description: 'order rejected because of invalid serviceID'
    type: string
    example: 7
  RejectReason8:
    description: 'order rejected because of invalid customer nr'
    type: string
    example: 8
  RejectReason9:
    description: 'lead rejected because of invalid sourcecode'
    type: string
    example: 9
  RejectReason10:
    description: 'rejected by PDB (check log in PDB)'
    type: string
    example: 10
  RejectReason11:
    description: 'CONFIRM order failed'
    type: string
    example: 11
  RejectReason12:
    description: 'Subscription/customer not found'
    type: string
    example: 12
  RejectReason13:
    description: 'Subscription/customer is inactive'
    type: string
    example: 13
  RejectReason20:
    description: 'Giftcard Order failed'
    type: string
    example: 20
  RejectReason99:
    description: 'wrong request, no parameters received'
    type: string
    example: 99
  RejectReason100:
    description: 'order confirmed but ignored'
    type: string
    example: 100
  RejectReasons:
    description: blank if result = 0, Error message if result = -1
    type: array
    items:
      type: string
      enum: ['', $ref: '#/definitions/RejectReason1', $ref: '#/definitions/RejectReason2', $ref: '#/definitions/RejectReason3',$ref: '#/definitions/RejectReason4', $ref: '#/definitions/RejectReason5', $ref: '#/definitions/RejectReason6', $ref: '#/definitions/RejectReason7', $ref: '#/definitions/RejectReason8', $ref: '#/definitions/RejectReason9', $ref: '#/definitions/RejectReason10', $ref: '#/definitions/RejectReason11', $ref: '#/definitions/RejectReason12', $ref: '#/definitions/RejectReason13', $ref: '#/definitions/RejectReason20', $ref: '#/definitions/RejectReason99', $ref: '#/definitions/RejectReason100']
    
  ReturnParameters: # define reusable parameters - Order and Redeem Gift Code:
    type: object
    properties:
      result:
        description: should be 0 if request was succesful, -1 if failed
        type: integer
        example: 0
      ocr:
        description: order reference number that can be used for online payment.
        type: string
        minLength: 20
        example: '20211532200005163471'
      data:
        description: custom data. 
        type: string
        example: ''
      reason:
        $ref: '#/definitions/RejectReasons'
        
  ReturnParametersGiftCode: # define reusable parameters - Register Donor:
    type: object
    properties:
      result:
        description: should be 0 if request was succesful, -1 if failed
        type: integer
        example: 0
      ocr:
        description: order reference number that can be used for online payment.
        type: string
        minLength: 20
        example: '20211532200005163471'
      data:
        description: custom data. Contains gift code when productCode= "GKW". This will also be sent on email.
        type: string
        example: '8419131589'
      reason:
        $ref: '#/definitions/RejectReasons'
        
  ReturnParametersCONFIRM: # define reusable parameters - Confirm and Register Donor Payment:
    type: object
    properties:
      result:
        description: should be 0 if request was succesful, -1 if failed
        type: integer
        example: 0
      ocr:
        description: Blank when TYPE = 'CONFIRM'
        type: string
        minLength: 20
        example: ''
      data:
        description: Blank when TYPE = 'CONFIRM'
        type: string
        example: ''
      reason:
        $ref: '#/definitions/RejectReasons'
        
  ReturnGiftCodeStatusParameters: # define reusable parameters - Get Giftcode Status:
    type: object
    properties:
      giftCode:
        description: gift code (same as input)
        type: string
        example: "8625186989"
      productCode:
        description: locked to product (blank or GKW = any product)
        type: string
        example: 'ILL'
      isValid:
        description: true/false
        type: boolean
        example: false
      validUntil:
        description: date when giftcard expires
        type: string
        format: date-time
        example: "2016-12-09T00:00:00"
      giftValue:
        description: the value of the gift
        type: number
        format: money
        example: 199.00
      status:
        description: status code
        type: string
        example: "S"

# reusable parameters:
parameters:
   sid:
      name: sid
      in: query
      description: ServiceID - e.g. 'BP_NMS_DK'
      required: true
      type: string
   la:
      name: la
      in: query
      description: Country e.g. 'DK'
      required: true
      type: string
   pk:
      name: pk
      in: query
      description: Productcode - e.g. 'ILL'
      required: true
      type: string
   rc:
      name: rc
      in: query
      description: Responsecode - e.g. 64800929
      required: true
      type: integer
      minLength: 8
      maxLength: 8
   pr:
      name: pr
      in: query
      description: Premiumcode - e.g. 912115
      type: integer
   return:
      name: return
      in: query
      description: URL of provider-specific confirmation page (BP Only)
      type: string
   pix:
      name: pix
      in: query
      description: Tracking pixel. Typically this will be an img tag with a http src and a size of one pixel
      type: string
   sc:
      name: sc
      in: query
      description: Sourcecode. Indicates what kind of permissions Bonnier stores on email and phone number. Newsletter, TM etc. E.g. 298244
      required: true
      type: integer
      minLength: 6
      maxLength: 6
   onlinepay:
      name: onlinepay
      in: query
      description: 0 or blank = GIRO/Unknown, 1 = online creditcard payment
      type: integer
   media:
      name: media
      in: query
      description: media channel from which this order was made
      type: string
   activity:
      name: activity
      in: query
      description: used for statistic purposes
      type: string
   device:
      name: device
      in: query
      description: ex 'MOBILE', 'TABLET', 'DESKTOP'. Could also be device-id
      type: string
   ocr:
      name: ocr
      in: query
      description: Used to confirm online payment (refnr is required)
      required: true
      type: string
   refnr:
      name: refnr
      in: query
      description: payment reference nr (Dibs Refnr)
      required: true
      type: string
   ccpart:
      name: ccpart
      in: query
      description: Last 4 digits in creditcard. e.g. **** **** **** 9999
      type: string
   ccyy:
      name: ccyy
      in: query
      description: Creditcard exp year
      type: string
      minLength: 2
      maxLength: 2
   ccmm:
      name: ccmm
      in: query
      description: Creditcard exp month
      type: string
      minLength: 2
      maxLength: 2
   cctype:
      name: cctype
      in: query
      description: Creditcard type (VISA, MC etc)
      type: string
   shopid:
      name: shopid
      in: query
      description: Dibs shop ID. E.g. 5305 for BP, 3547 = BT
      required: true
      type: string
      minLength: 4
      maxLength: 4
   recurring:
      name: recurring
      in: query
      description: 1 = activate recurring if refnr is available
      required: true
      type: integer
   cnr:
      name: cnr
      in: query
      description: CustomerNr / SubscriptionNr
      type: string
   fn:
      name: fn
      in: query
      description: Customer firstname
      required: true
      type: string
   ln:
      name: ln
      in: query
      description: Customer lastname
      required: true
      type: string
   en:
      name: en
      in: query
      description: Customer Extra name C/O
      type: string
   ad:
      name: ad
      in: query
      description: Customer address + street nr.
      required: true
      type: string
   pc:
      name: pc
      in: query
      description: Customer postal code
      required: true
      type: string
   email:
      name: email
      in: query
      description: Customer email
      required: true
      type: string
      format: email
   phone:
      name: phone
      in: query
      description: Customer phone
      type: string
   mobile:
      name: mobile
      in: query
      description: Customer mobile
      type: string
   op:
      name: op
      in: query
      description: Indicates a gift order (gave / gåvo abon). When true, receiver name fields below must exist
      type: boolean
   fn2:
      name: fn2
      in: query
      description: Firstname of person who receives magazine when op=true
      type: string
   ln2:
      name: ln2
      in: query
      description: Lastname of person who receives magazine when op=true
      type: string
   en2:
      name: en2
      in: query
      description: Extraname C/O of person who receives magazine when op=true
      type: string
   ad2:
      name: ad2
      in: query
      description: Address + streetnr of person who receives magazine when op=true
      type: string
   pc2:
      name: pc2
      in: query
      description: Postal code of person who receives magazine when op=true
      type: string
   gcval:
      name: gcval
      in: query
      description: Giftcode value in minor units (value*100). Ex. 1 SEK = 100
      type: integer
   gcpk:
      name: gcpk
      in: query
      description: Giftcode product. Used if giftcode should be locked to a specific product
      type: string
   gclink:
      name: gclink
      in: query
      description: Link (url) to printable Giftcode. This link is included in email to customer. Could be link to a PDF or similar
      type: string
   gc:
      name: gc
      in: query
      description: Giftcode
      type: string
swagger: '2.0'
schemes:
  - https 
host: order.bm-data.com 
basePath: "/"
info:
  
  description: |
    # Introduction
    This document describes how to submit orders to Bonnier Magazine Data (BMD) from various campaign activities. Orders 3 validates parameters, queues the order in backend system, and replies in XML or JSON format
    
    # Security
    ip protection
    
    # Test Data
    For testing parameter validation, connection, character sets and similar you can use postal code 0000 (in DK and NO) or 00000 (in SE and FI) when submitting data
    
    
    If you need to test a complete flow **including email confirmation and tracking callback** you must use postal code **8888** or **88888**.
    
    This way the backend system can recognize the test orders and stop them from being processed.
    
    If using postal code 0000/00000 you will receive reasoncode = 100 in the xml-response.
    100 = order confirmed but ignored.
    
    **You can also use parameter TEST=1** In that case, the reject reason "100" will be returned

  version: '1.0.0' 

  title: Orders3 API 

  contact:
    email: kirsten.ostergaard@bmd.bonnier.dk 
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'http://www.bonnier.com/Global/Images/Bonnier_logotype.png'
produces:
  - application/json
consumes:
  - application/json
tags:
  - name: Order
    description: Submit order operations
  - name: Confirm
    description: Confirm order payment operations
  - name: Register Donor
    description: Submit giftcard order operations
  - name: Register Donor Payment
    description: Confirm giftcard order payment operations. 
  - name: Redeem Gift Code
    description: Submit information about receiver of gift card when this is redeemed.
  - name: Get Giftcode Status
    description: Returns status and value of giftcard


paths:
  '/?type=ORDER': # path parameter in curly braces
    # documentation for GET operation for this path
    post:
      tags:
        - Order
      
      summary: Send purchase order to the magazine shop
      
      description: | 
        
        Place purchase order 
        
      operationId: submitOrder
      
      parameters:
        - $ref: "#/parameters/sid"
        - $ref: "#/parameters/la"
        - name: type
          in: query
          description: RequestType to indicate that this is an ORDER request
          type: string
          enum:
            - 'ORDER'
            - ''
          default: ''
        - $ref: "#/parameters/pk"
        - $ref: "#/parameters/rc"
        - $ref: "#/parameters/pr"
        - $ref: "#/parameters/return"
        - $ref: "#/parameters/pix"
        - $ref: "#/parameters/sc"
        - $ref: "#/parameters/onlinepay"
        - $ref: "#/parameters/media"
        - $ref: "#/parameters/activity"
        - $ref: "#/parameters/device"
        - $ref: "#/parameters/cnr"
        - $ref: "#/parameters/fn"
        - $ref: "#/parameters/ln"
        - $ref: "#/parameters/en"
        - $ref: "#/parameters/ad"
        - $ref: "#/parameters/pc"
        - $ref: "#/parameters/email"
        - $ref: "#/parameters/phone"
        - $ref: "#/parameters/mobile"
        - $ref: "#/parameters/op"
        - $ref: "#/parameters/fn2"
        - $ref: "#/parameters/ln2"
        - $ref: "#/parameters/en2"
        - $ref: "#/parameters/ad2"
        - $ref: "#/parameters/pc2"
      
      produces:
        - application/json
      responses: # list of responses
        '200':
          description: OK
          schema: # response schema can be specified for each response
            $ref: '#/definitions/ReturnParameters'
          
        '500':
          description: Internal server error
  
  '/?type=CONFIRM':
    post:
      tags:
        - Confirm
      summary: Confirm order payment
      description: Confirms that payment have been received and states if the payment is recurring
      operationId: confirm
      parameters:
        - $ref: "#/parameters/sid"
        - $ref: "#/parameters/la"
        - name: type
          in: query
          description: RequestType to indicate that this is a CONFIRM request
          required: true
          type: string
          enum:
            - 'CONFIRM'
        - $ref: "#/parameters/ocr"
        - $ref: "#/parameters/refnr"
        - $ref: "#/parameters/ccpart"
        - $ref: "#/parameters/ccyy"
        - $ref: "#/parameters/ccmm"
        - $ref: "#/parameters/cctype"
        - $ref: "#/parameters/shopid"
        - $ref: "#/parameters/recurring"
      
      responses:
        '200':
          description: 'OK'
          schema: 
            $ref: '#/definitions/ReturnParametersCONFIRM'
          
        '500':
          description: Internal server error
          
  '/?type=ORDER&pk=GKW':
    post:
      tags:
        - Register Donor
      summary: Send order for a giftcard
      description: Place purchase order with `pk`(productCode) = GKW
      operationId: registerDonor
      parameters:
        - $ref: "#/parameters/sid"
        - $ref: "#/parameters/la"
        - name: type
          in: query
          description: RequestType to indicate that this is a CONFIRM request
          required: true
          type: string
          enum:
            - 'ORDER'
            - ''
          default: ''
        - name: pk
          in: query
          description: Productcode - must be 'GKW'
          required: true
          type: string
          enum:
            - 'GKW'
        - $ref: "#/parameters/rc"
        - $ref: "#/parameters/pr"
        - $ref: "#/parameters/return"
        - $ref: "#/parameters/pix"
        - $ref: "#/parameters/sc"
        - $ref: "#/parameters/onlinepay"
        - $ref: "#/parameters/media"
        - $ref: "#/parameters/activity"
        - $ref: "#/parameters/device"
        - $ref: "#/parameters/cnr"
        - $ref: "#/parameters/fn"
        - $ref: "#/parameters/ln"
        - $ref: "#/parameters/en"
        - $ref: "#/parameters/ad"
        - $ref: "#/parameters/pc"
        - $ref: "#/parameters/email"
        - $ref: "#/parameters/phone"
        - $ref: "#/parameters/mobile"
        - $ref: "#/parameters/gcval"
        - $ref: "#/parameters/gcpk"
      
      responses:
        '200':
          description: 'OK'
          schema: # response schema can be specified for each response
            $ref: '#/definitions/ReturnParametersGiftCode'
          
        '500':
          description: Internal server error

  '/?type=CONFIRM&gc=':
    post:
      tags:
        - Register Donor Payment
      summary: Register and confirm donor payment
      description: Confirms that payment have been received. This activates the giftcode, and should only be called after a succesful payment.
      operationId: confirm donor payment
      parameters:
        - $ref: "#/parameters/sid"
        - $ref: "#/parameters/la"
        - name: type
          in: query
          description: RequestType to indicate that this is a CONFIRM request
          required: true
          type: string
          enum:
            - 'CONFIRM'
        - $ref: "#/parameters/ocr"
        - $ref: "#/parameters/refnr"
        - $ref: "#/parameters/ccpart"
        - $ref: "#/parameters/ccyy"
        - $ref: "#/parameters/ccmm"
        - $ref: "#/parameters/cctype"
        - $ref: "#/parameters/shopid"
        - $ref: "#/parameters/gc"
        - $ref: "#/parameters/gclink"
      
      responses:
        '200':
          description: 'OK'
          schema: # response schema can be specified for each response
            $ref: '#/definitions/ReturnParametersCONFIRM'
          
        '500':
          description: Internal server error
          
  '/?TYPE=REDEEM':
    post:
      tags:
        - Redeem Gift Code
      summary: Post info about receiver of giftcard
      description: Register receiver parameters when giftcard is redeemed
      operationId: registerReceiver
      parameters:
        - $ref: "#/parameters/sid"
        - $ref: "#/parameters/la"
        - name: type
          in: query
          description: RequestType to indicate that this is a REDEEM request
          required: true
          type: string
          enum:
            - 'REDEEM'
        - name: pk
          in: query
          description: Productcode - must be 'GKW'
          required: true
          type: string
          enum:
            - 'GKW'
        - $ref: "#/parameters/rc"
        - $ref: "#/parameters/pr"
        - $ref: "#/parameters/return"
        - $ref: "#/parameters/pix"
        - $ref: "#/parameters/sc"
        - $ref: "#/parameters/media"
        - $ref: "#/parameters/activity"
        - $ref: "#/parameters/device"
        - $ref: "#/parameters/cnr"
        - $ref: "#/parameters/fn"
        - $ref: "#/parameters/ln"
        - $ref: "#/parameters/en"
        - $ref: "#/parameters/ad"
        - $ref: "#/parameters/pc"
        - $ref: "#/parameters/email"
        - $ref: "#/parameters/phone"
        - $ref: "#/parameters/mobile"
        - $ref: "#/parameters/gc"
        - $ref: "#/parameters/gcval"
      
      responses:
        '200':
          description: 'OK'
          schema: # response schema can be specified for each response
            $ref: '#/definitions/ReturnParameters'
          
        '500':
          description: Internal server error
  
  '/type=STATUS':
    post:
      tags:
        - Get Giftcode Status
      summary: Get status of giftcard
      description: Returns status and value of gift card when this is redeemed
      operationId: getGiftcard  Status
      parameters:
        - $ref: "#/parameters/sid"
        - $ref: "#/parameters/la"
        - name: type
          in: query
          description: RequestType to indicate that this is a REDEEM request
          required: true
          type: string
          enum:
            - 'REDEEM'
        - name: pk
          in: query
          description: Productcode - must be 'GKW'
          required: true
          type: string
          enum:
            - 'GKW'
        - $ref: "#/parameters/gc"
      
      responses:
        '200':
          description: 'OK'
          schema: # response schema can be specified for each response
            $ref: '#/definitions/ReturnGiftCodeStatusParameters'
          
        '500':
          description: Internal server error
          
# An object to hold data types that can be consumed and produced by operations.
# These data types can be primitives, arrays or models.
definitions:
  RejectReason1:
    description: 'order rejected due to Bonnier policy'
    type: string
    example: 1
  RejectReason2:
    description: 'order rejected because order is duplicate of existing order'
    type: string
    example: 2
  RejectReason3:
    description: 'order rejected because of parameter validation error'
    type: string
    example: 3
  RejectReason4:
    description: 'order rejected because of other error / exeption'
    type: string
    example: 4
  RejectReason5:
    description: 'order rejected because of invalid country'
    type: string
    example: 5
  RejectReason6:
    description: 'order rejected because of invalid postal number'
    type: string
    example: 6
  RejectReason7:
    description: 'order rejected because of invalid serviceID'
    type: string
    example: 7
  RejectReason8:
    description: 'order rejected because of invalid customer nr'
    type: string
    example: 8
  RejectReason9:
    description: 'lead rejected because of invalid sourcecode'
    type: string
    example: 9
  RejectReason10:
    description: 'rejected by PDB (check log in PDB)'
    type: string
    example: 10
  RejectReason11:
    description: 'CONFIRM order failed'
    type: string
    example: 11
  RejectReason12:
    description: 'Subscription/customer not found'
    type: string
    example: 12
  RejectReason13:
    description: 'Subscription/customer is inactive'
    type: string
    example: 13
  RejectReason20:
    description: 'Giftcard Order failed'
    type: string
    example: 20
  RejectReason99:
    description: 'wrong request, no parameters received'
    type: string
    example: 99
  RejectReason100:
    description: 'order confirmed but ignored'
    type: string
    example: 100
  RejectReasons:
    description: blank if result = 0, Error message if result = -1
    type: string
    enum: ['', $ref: '#/definitions/RejectReason1', $ref: '#/definitions/RejectReason2', $ref: '#/definitions/RejectReason3',$ref: '#/definitions/RejectReason4', $ref: '#/definitions/RejectReason5', $ref: '#/definitions/RejectReason6', $ref: '#/definitions/RejectReason7', $ref: '#/definitions/RejectReason8', $ref: '#/definitions/RejectReason9', $ref: '#/definitions/RejectReason10', $ref: '#/definitions/RejectReason11', $ref: '#/definitions/RejectReason12', $ref: '#/definitions/RejectReason13', $ref: '#/definitions/RejectReason20', $ref: '#/definitions/RejectReason99', $ref: '#/definitions/RejectReason100']
    
  ReturnParameters: # define reusable parameters - Order and Redeem Gift Code:
    type: object
    properties:
      result:
        description: should be 0 if request was succesful, -1 if failed
        type: integer
        example: 0
      ocr:
        description: order reference number that can be used for online payment.
        type: string
        minLength: 20
        example: '20211532200005163471'
      data:
        description: custom data. 
        type: string
        example: ''
      reason:
        $ref: '#/definitions/RejectReasons'
        
  ReturnParametersGiftCode: # define reusable parameters - Register Donor:
    type: object
    properties:
      result:
        description: should be 0 if request was succesful, -1 if failed
        type: integer
        example: 0
      ocr:
        description: order reference number that can be used for online payment.
        type: string
        minLength: 20
        example: '20211532200005163471'
      data:
        description: custom data. Contains gift code when productCode= "GKW". This will also be sent on email.
        type: string
        example: '8419131589'
      reason:
        $ref: '#/definitions/RejectReasons'
        
  ReturnParametersCONFIRM: # define reusable parameters - Confirm and Register Donor Payment:
    type: object
    properties:
      result:
        description: should be 0 if request was succesful, -1 if failed
        type: integer
        example: 0
      ocr:
        description: Blank when TYPE = 'CONFIRM'
        type: string
        minLength: 20
        example: ''
      data:
        description: Blank when TYPE = 'CONFIRM'
        type: string
        example: ''
      reason:
        $ref: '#/definitions/RejectReasons'
        
  ReturnGiftCodeStatusParameters: # define reusable parameters - Get Giftcode Status:
    type: object
    properties:
      giftCode:
        description: gift code (same as input)
        type: string
        example: "8625186989"
      productCode:
        description: locked to product (blank or GKW = any product)
        type: string
        example: 'ILL'
      isValid:
        description: true/false
        type: boolean
        example: false
      validUntil:
        description: date when giftcard expires
        type: string
        format: date-time
        example: "2016-12-09T00:00:00"
      giftValue:
        description: the value of the gift
        type: number
        format: money
        example: 199.00
      status:
        description: status code
        type: string
        example: "S"

# reusable parameters:
parameters:
   sid:
      name: sid
      in: query
      description: ServiceID - e.g. 'BP_NMS_DK'
      required: true
      type: string
   la:
      name: la
      in: query
      description: Country e.g. 'DK'
      required: true
      type: string
   pk:
      name: pk
      in: query
      description: Productcode - e.g. 'ILL'
      required: true
      type: string
   rc:
      name: rc
      in: query
      description: Responsecode - e.g. 64800929
      required: true
      type: integer
      minLength: 8
      maxLength: 8
   pr:
      name: pr
      in: query
      description: Premiumcode - e.g. 912115
      type: integer
   return:
      name: return
      in: query
      description: URL of provider-specific confirmation page (BP Only)
      type: string
   pix:
      name: pix
      in: query
      description: Tracking pixel. Typically this will be an img tag with a http src and a size of one pixel
      type: string
   sc:
      name: sc
      in: query
      description: Sourcecode. Indicates what kind of permissions Bonnier stores on email and phone number. Newsletter, TM etc. E.g. 298244
      required: true
      type: integer
      minLength: 6
      maxLength: 6
   onlinepay:
      name: onlinepay
      in: query
      description: 0 or blank = GIRO/Unknown, 1 = online creditcard payment
      type: integer
   media:
      name: media
      in: query
      description: media channel from which this order was made
      type: string
   activity:
      name: activity
      in: query
      description: used for statistic purposes
      type: string
   device:
      name: device
      in: query
      description: ex 'MOBILE', 'TABLET', 'DESKTOP'. Could also be device-id
      type: string
   ocr:
      name: ocr
      in: query
      description: Used to confirm online payment (refnr is required)
      required: true
      type: string
   refnr:
      name: refnr
      in: query
      description: payment reference nr (Dibs Refnr)
      required: true
      type: string
   ccpart:
      name: ccpart
      in: query
      description: Last 4 digits in creditcard. e.g. **** **** **** 9999
      type: string
   ccyy:
      name: ccyy
      in: query
      description: Creditcard exp year
      type: string
      minLength: 2
      maxLength: 2
   ccmm:
      name: ccmm
      in: query
      description: Creditcard exp month
      type: string
      minLength: 2
      maxLength: 2
   cctype:
      name: cctype
      in: query
      description: Creditcard type (VISA, MC etc)
      type: string
   shopid:
      name: shopid
      in: query
      description: Dibs shop ID. E.g. 5305 for BP, 3547 = BT
      required: true
      type: string
      minLength: 4
      maxLength: 4
   recurring:
      name: recurring
      in: query
      description: 1 = activate recurring if refnr is available
      required: true
      type: integer
   cnr:
      name: cnr
      in: query
      description: CustomerNr / SubscriptionNr
      type: string
   fn:
      name: fn
      in: query
      description: Customer firstname
      required: true
      type: string
   ln:
      name: ln
      in: query
      description: Customer lastname
      required: true
      type: string
   en:
      name: en
      in: query
      description: Customer Extra name C/O
      type: string
   ad:
      name: ad
      in: query
      description: Customer address + street nr.
      required: true
      type: string
   pc:
      name: pc
      in: query
      description: Customer postal code
      required: true
      type: string
   email:
      name: email
      in: query
      description: Customer email
      required: true
      type: string
      format: email
   phone:
      name: phone
      in: query
      description: Customer phone
      type: string
   mobile:
      name: mobile
      in: query
      description: Customer mobile
      type: string
   op:
      name: op
      in: query
      description: Indicates a gift order (gave / gåvo abon). When true, receiver name fields below must exist
      type: boolean
   fn2:
      name: fn2
      in: query
      description: Firstname of person who receives magazine when op=true
      type: string
   ln2:
      name: ln2
      in: query
      description: Lastname of person who receives magazine when op=true
      type: string
   en2:
      name: en2
      in: query
      description: Extraname C/O of person who receives magazine when op=true
      type: string
   ad2:
      name: ad2
      in: query
      description: Address + streetnr of person who receives magazine when op=true
      type: string
   pc2:
      name: pc2
      in: query
      description: Postal code of person who receives magazine when op=true
      type: string
   gcval:
      name: gcval
      in: query
      description: Giftcode value in minor units (value*100). Ex. 1 SEK = 100
      type: integer
   gcpk:
      name: gcpk
      in: query
      description: Giftcode product. Used if giftcode should be locked to a specific product
      type: string
   gclink:
      name: gclink
      in: query
      description: Link (url) to printable Giftcode. This link is included in email to customer. Could be link to a PDF or similar
      type: string
   gc:
      name: gc
      in: query
      description: Giftcode
      type: string