# This is an **example** API to demontstrate features of OpenAPI specification.
# It doesn't cover all OpenAPI features. For more full example check out: https://github.com/APIs-guru/petstore_extended

swagger: '2.0'
# You should specify common part of your endpoints in the following format:
#   <schemes>://<host><basepath>
schemes:
  - http # Remove if your API doesn't support HTTP
host: api2.bm-data.com # Replace with your hostname. You can also specify port e.g. example.com:777
basePath: /services/bm400/ # Replace with your basePath. Note: SHOULD begin with '/'.
info:
  # Describe your API here, you can use GFM (https://guides.github.com/features/mastering-markdown) here
  description: |
    Returns a json-representation of the selected campaign
    # Introduction
    **TEST**
    The test form is only available for requests from the local machine

  version: '1.0.0' # Your API version
  # It can be any string but it is better to use semantic versioning: http://semver.org/
  # Warning: OpenAPI require version to be string, but without quotation YAML can recognize it as number.

  title: GetCampaignInfo 

  contact:
    email: kirsten.ostergaard@bmd.bonnier.dk # [Optional] Replace with your contact email
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://apis.guru/openapi-template/logo.png'
externalDocs:
  description: Find out how to create Github repo for your OpenAPI spec.
  url: 'https://github.com/Rebilly/generator-openapi-repo'
produces:
  # List of mime types your API endpoins can return.
  # This is a global default. You can OVERWRITE it in each specific operation.
  # Remove the ones not used in your API
  - application/json
  # you can add any mime type your API produces to the list
consumes:
  # List of mime types your API endpoins consumes.
  # This is a global default. You can OVERWRITE it in each specific operation.
  # Remove the ones not supported by your API
  - application/json
  - application/xml
  # you can add any mime type your API consumes to the list

# A list of tags used by the specification with additional metadata.
# The order of the tags can be used to reflect on their order by the parsing tools.
tags:
  - name: Campaign
    description: Operations about campaigns
# Security scheme definitions that can be used across the specification.
securityDefinitions:
  main_auth: # security definition name (you can name it as you want)
    type: oauth2 # authorization type, one of: oauth2, basic, apiKey
    # the following options are specific to oauth2 type
    authorizationUrl: 'http://example.com/api/oauth/dialog'
    flow: implicit
    scopes:
      'read:campaign': read campaign info
  api_key: # security definition name (you can name it as you want)
    type: apiKey
    # The following options are specific to apiKey type
    in: header # Where API key will be passed: header or query
    name: api_key # API key paramteer name
  basic_auth: # security definition name (you can name it as you want)
    type: basic

# Holds the relative paths to the individual endpoints. The path is appended to the
# basePath in order to construct the full URL. 
paths:
  '/GetCampaignInfo': # path parameter in curly braces
    # documentation for GET operation for this path
    
    # parameters list that are used with each operation for this path
    get:
      tags:
        - Campaign
      
      # summary is up to 120 symbold but we recommend to be shortest as possible
      summary: Get campaign info by campaign Id
      
      # you can use GFM in operation description too: https://guides.github.com/features/mastering-markdown
      description: | 
        Get campaign details based on Id
      
      # operationId should be unique across the whole specification
      operationId: GetCampaignInfo
      
      # list of parameters for the operation
      parameters:
        - name: CampaignId
          in: query
          description: 'Id of the campaign that needs to be fetched'
          required: true
          type: string
        - name: serviceID
          in: query
          description: Username / ruleset for the campaign
          required: true
          type: string
      
      # security schemas applied to this operation
      security:
        - main_auth:
          - 'read:campaign' # for auth2 provide list of scopes here
        - api_key: []
      # overwriting default global produces
      produces:
        - application/json
      responses: # list of responses
        '200':
          description: Success
          schema: # response schema can be specified for each response
            $ref: '#/definitions/Campaign'
            
          examples:
          # repsonse samples for each type operation produces
            application/json:
              CampaignID: 324801
        '403':
          description: Forbidden
        '404':
          description: Campaign not found
   
# An object to hold data types that can be consumed and produced by operations.
# These data types can be primitives, arrays or models.
definitions:
  Offers:
    type: array
    items:
      properties:
        Id:
          description: SomeTextHere
          type: integer
          example: 3042943
        Name:
          description: SomeTextHere
          type: string
          example: "3 nr 99,90kr + 39,50kr"
        ProductCode:
          description: ProductCode
          type: string
          example: ATR
        Issues:
          description: Number of issues in offer
          type: integer
          example: 3
        IntroFee:
          description: AdministrationFee
          type: number
          format: float
          example: 39.5000
        TotalPrice:
          description: Total price to be payed
          type: number
          format: float
          example: 139.4000
        Responsecode:
          description: Couponcode / responsecode for this offer
          type: integer
          example: 65234309
  Premiums:
    type: array
    items:
      properties:
        ItemName: 
          description: Name of premium
          type: string
          example: "Craft Baselayer Sort M"
        ItemNumber:
          description: Article number
          type: string
          example: "911442"
        ItemValue: 
          description: Value of this article
          type: number
          format: float
          example: 450.0000
  Medias:
    type: array
    items:
      properties:
        Name:
          description: Name of media
          type: string
          example: AboHeader
        PromotionTypeName:
          description: SomethingSomething
          type: string
          example: Egne sites
  PaymentTypes:
    type: array
    items:
      properties:
        Name:
          description: Payment method
          type: string
          enum: ["Web", "WebPay", "WebBank"]
  Campaign:
    type: object
    properties:
      CampaignID:
        description: Key value
        type: integer
        minLength: 6
        example: 324801
      Title:
        description: Campaign title
        type: string
        example: 3 el 6 nr + Craft Baselayer sæt  \n\n2017 koder
      Currency:
        description: Currency of campaign
        type: string
        example: SEK
      ValidFrom:
        description: Campaign valid from
        type: string
        format: date
        example: "2016-12-20T00:00:00"
      ValidTo:
        description: Campaign valid from
        type: string
        format: date
        example: "2016-12-20T00:00:00"
      ActivityCode:
        description: SomeTextHere
        type: integer
        example: 11
      ActivityName:
        description: SomeTextHere
        type: string
        example: Internet Intern egne sites
      Market:
        description: Customer market
        type: string
        example: Sweden
      Language:
        description: Campaign language
        type: string
        example: sv
      Offers:
        description: Campaign offers
        type: array
        items: 
          $ref: '#/definitions/Offers'
      Premiums:
        description: Premiums as part of the offer
        type: array
        items:
          $ref: '#/definitions/Premiums'
      Medias:
        description: Which media displays the campaign
        type: array
        items: 
          $ref: '#/definitions/Medias'
      PaymentTypes:
        description: Means of payment
        type: string
        items: 
          $ref: '#/definitions/PaymentTypes'