# This is an **example** API to demontstrate features of OpenAPI specification.
# It doesn't cover all OpenAPI features. For more full example check out: https://github.com/APIs-guru/petstore_extended

swagger: '2.0'
# You should specify common part of your endpoints in the following format:
#   <schemes>://<host><basepath>
schemes:
  - http # Remove if your API doesn't support HTTP
host: api2.bm-data.com # Replace with your hostname. You can also specify port e.g. example.com:777
basePath: /services/bm400/CMDBAPI.asmx/ # Replace with your basePath. Note: SHOULD begin with '/'.
info:
  # Describe your API here, you can use GFM (https://guides.github.com/features/mastering-markdown) here
  description: |
    Returns a json-representation of the selected campaign
    # Introduction
    **TEST**
    The test form is only available for requests from the local machine

  version: '1.0.0' # Your API version
  # It can be any string but it is better to use semantic versioning: http://semver.org/
  # Warning: OpenAPI require version to be string, but without quotation YAML can recognize it as number.

  title: GetCampaignInfo 

  contact:
    email: kirsten.ostergaard@bmd.bonnier.dk # [Optional] Replace with your contact email
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://apis.guru/openapi-template/logo.png'
produces:
  # List of mime types your API endpoins can return.
  # This is a global default. You can OVERWRITE it in each specific operation.
  # Remove the ones not used in your API
  - application/json
  # you can add any mime type your API produces to the list
consumes:
  # List of mime types your API endpoins consumes.
  # This is a global default. You can OVERWRITE it in each specific operation.
  # Remove the ones not supported by your API
  - application/json
  - application/xml
  # you can add any mime type your API consumes to the list

# A list of tags used by the specification with additional metadata.
# The order of the tags can be used to reflect on their order by the parsing tools.
tags:
  - name: Campaign
    description: Operations about campaigns
# Security scheme definitions that can be used across the specification.

# Holds the relative paths to the individual endpoints. The path is appended to the
# basePath in order to construct the full URL. 
paths:
  '/GetCampaignInfo': # path parameter in curly braces
    # documentation for GET operation for this path
    
    # parameters list that are used with each operation for this path
    get:
      tags:
        - Campaign
      
      # summary is up to 120 symbold but we recommend to be shortest as possible
      summary: Search for Campaign details using CampaignId
      
      # you can use GFM in operation description too: https://guides.github.com/features/mastering-markdown
      description: | 
        Secutity - ip protection
      
      # operationId should be unique across the whole specification
      operationId: GetCampaignInfo
      
      # list of parameters for the operation
      parameters:
        - name: CampaignId
          in: query
          description: Id of the campaign that needs to be fetched
          required: true
          type: string
        - name: serviceID
          in: query
          description: Username / ruleset for the campaign
          required: true
          type: string
      
      produces:
        - application/json
      responses: # list of responses
        '200':
          description: Success
          schema: # response schema can be specified for each response
            $ref: '#/definitions/Campaign'
            
          examples:
          # repsonse samples for each type operation produces
            application/json:
              CampaignID: 324801
              Title: "3 el 6 nr + Craft Baselayer sæt  \n\n2017 koder"
              ValidFrom: "2016-12-20T00:00:00"
              ValidTo: "2016-12-20T00:00:00"
              Locale: "sv-SE"
              Language: "sv"
              Currency: "SEK"
              Offers:
                ResponseCode: 65234309
                Name: "3 nr 99,90kr + 39,50kr"
                ProcuctCode: "ATR"
                Issues: 3
                OfferText: "<ul><li>3 nr av Aktiv Träning + Craft Baselayer Sort M för 99,90 kr + 39,50 kr. i porto och exp.</li> <li>Efter erbjudandet fortsätter prenumerationen som tillsvidareprenumeration och kan avslutas när som helst.</li> <li>Prenumerationen betalas för 3 nummer åt gången, totalt 218,70 kr. (72,90 per nummer)</li> <li>Aktiv Träning utkommer 12 gånger om året.</li></ul>"
                AcceptText: "<ul> <li>3 nr av Aktiv Träning + premie för 99,90 kr + 39,50 kr. i porto och exp. Totalt 139,40 kr.</li> <li>Efter erbjudandet fortsätter prenumerationen som tillsvidareprenumeration och kan avslutas när som helst.</li> <li>Prenumerationen betalas för 3 nummer åt gången, totalt 218,70 kr. (72,90 per nr)</li> <li>Aktiv Träning utkommer 12 gånger om året.</li/> </ul>"
                NextPeriodText: "Prenumerationen fortsätter i löpande kvartalsprenumeration för 72,90 per nummer."
                InvoiceFeeText: "(+ 10 kr)"
                IntroPrice: 99.90
                IntroFee: 39.5000
                InvoiceFee: 10.00
                ListPrice: 72.90
                ListFee: 00.00
                TotalPrice: 139.4000
                DibsRecurring: true
                ConditionType: "Subscription"
                Medias:
                  Name: "AboHeader"
                  PaymentTypes:
                    Name: "Web"
              Premiums: 
                ArticleName: "Craft Baselayer Sort M"
                ArticleNumber: "911442"
                ArticleValue: 450.0000
        '500':
          description: Exception, internal error
   
# An object to hold data types that can be consumed and produced by operations.
# These data types can be primitives, arrays or models.
definitions:
  
  Campaign:
    type: object
    properties:
      CampaignID:
        description: Key value for campaign
        type: integer
        minLength: 6
        example: 324801
      Title:
        description: Campaign title
        type: string
        example: 3 el 6 nr + Craft Baselayer sæt  \n\n2017 koder
      ValidFrom:
        description: Campaign valid from
        type: string
        format: date
        example: "2016-12-20T00:00:00"
      ValidTo:
        description: Campaign valid from
        type: string
        format: date
        example: "2016-12-20T00:00:00"
      Locale:
        description: Customer market
        type: string
        example: "sv-SE"
      Language:
        description: Campaign language
        type: string
        example: sv
      Currency:
        description: Currency of campaign
        type: string
        example: SEK
      Offers:
        description: Campaign offers
        type: array
        items: 
          $ref: '#/definitions/Offers'
      Premiums:
        description: The premiums that can be chosen with this offer.
        type: array
        items:
          $ref: '#/definitions/Premiums'
      PaymentTypes:
        description: Payment method
        type: array
        items: 
          $ref: '#/definitions/PaymentTypes'
  Offers:
    type: array
    items:
      properties:
        ResponseCode:
          description: A k a CouponCode. A value that uniquely defines the offer
          type: integer
          example: 65234309
        Name:
          description: A brief description of the offer. For internal use.
          type: string
          example: "3 nr 99,90kr + 39,50kr"
        ProductCode:
          description: A 3 letter abreviation for the products (magazines)
          type: string
          example: ATR
        Issues:
          description: Number of issues in offer
          type: integer
          example: 3
        OfferText:
          description: Text to present the offer, price, premium and conditions
          type: string
          example: "<ul><li>3 nr av Aktiv Träning + Craft Baselayer Sort M för 99,90 kr + 39,50 kr. i porto och exp.</li> <li>Efter erbjudandet fortsätter prenumerationen som tillsvidareprenumeration och kan avslutas när som helst.</li> <li>Prenumerationen betalas för 3 nummer åt gången, totalt 218,70 kr. (72,90 per nummer)</li> <li>Aktiv Träning utkommer 12 gånger om året.</li></ul>"
        AcceptText:
          description: Text to repeat the offer and conditions. Is shown to the customer right before checkout
          type: string
          example: "<ul> <li>3 nr av Aktiv Träning + premie för 99,90 kr + 39,50 kr. i porto och exp. Totalt 139,40 kr.</li> <li>Efter erbjudandet fortsätter prenumerationen som tillsvidareprenumeration och kan avslutas när som helst.</li> <li>Prenumerationen betalas för 3 nummer åt gången, totalt 218,70 kr. (72,90 per nr)</li> <li>Aktiv Träning utkommer 12 gånger om året.</li/> </ul>"
        NextPeriodText:
          description: Description of the subscription terms
          type: string
          example: "Prenumerationen fortsätter i löpande kvartalsprenumeration för 72,90 per nummer."
        InvoiceFeeText:
          description: The price as a text for the shop
          type: string
          example: "(+ 10 kr)"
        IntroPrice: 
          description: The offer price for the issues of the magazine without a premium
          type: number
          format: float
          example: 99.90
        IntroFee:
          description: Administration fee / postage fee
          type: number
          format: float
          example: 39.5000
        InvoiceFee: 
          description: The price for sending a printed invoice
          type: number
          format: float
          example: 10.00
        ListPrice: 
          description: The price for one issue
          type: number
          format: float
          example: 72.90
        ListFee:
          description: P.T. unknown
          type: number
          format: float
          example: 0.00
        TotalPrice:
          description: Total price to be payed
          type: number
          format: float
          example: 139.4000
        DibsRecurring:
          description: True if ConditionType = Subscription
          type: boolean
          example: true
        ConditionType:
          description: Subscription or otherwise
          type: string
          example: "Subscription"
        Medias:
          description: Which media displays the campaign
          type: array
          items: 
            $ref: '#/definitions/Medias'
  Premiums:
    type: array
    items:
      properties:
        ArticleName: 
          description: Name of premium
          type: string
          example: "Craft Baselayer Sort M"
        ArticleNumber:
          description: Article number
          type: string
          example: "911442"
        ArticleValue: 
          description: Value of this article
          type: number
          format: float
          example: 450.0000
  Medias:
    type: array
    items:
      properties:
        Name:
          description: Place of campaign occurrence in media
          type: string
          example: AboHeader
        PaymentTypes:
          type: array
          items: 
            $ref: '#/definitions/PaymentTypes'
  PaymentTypes:
    type: array
    items:
      properties:
        Name:
          description: Payment method
          type: string
          example: Web